<?xml version='1.0' encoding='utf-8'?>
<widget id="com.portal.kimia" version="1.0.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Portal Kimia</name>
    <description>Portal Kimia Solusi Pembelajaran Interaktif Siswa</description>
    <author email="andikaputraindramawan@gmail.com">Andika</author>
    <icon density="xxxhdpi" height="256" src="www/icon-256.png" width="256" />
    <icon density="xhdpi" height="128" src="www/icon-128.png" width="128" />
    <preference name="android-targetSdkVersion" value="30" />
    <preference name="orientation" value="landscape" />
    <preference name="fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <config-file parent="UIStatusBarHidden" platform="ios" target="*-Info.plist">
        <true />
    </config-file>
    <config-file parent="UIViewControllerBasedStatusBarAppearance" platform="ios" target="*-Info.plist">
        <false />
    </config-file>
    <preference name="deployment-target" value="10.0" />
    <preference name="android-minSdkVersion" value="21" />
    <access origin="*" />
    <plugin name="cordova-custom-config" />
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-media" />
    <plugin name="cordova-plugin-statusbar" />
    <plugin name="cordova-plugin-whitelist" />
    <plugin name="cordova-plugin-wkwebview-engine" />
    <engine name="ios" />
</widget>
